@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

/* Micheal-commit */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
   font-family: 'Poppins', sans-serif;
}


/*header Section*/

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 45px;
    font-size: 16px;
    font-weight: 500;
    position: relative;
}
.nav-ul {
    display: flex;
    list-style: none;
}
.nav-ul li {
    margin-right: 12px;
}
.nav-ul li a {
    color: #757575;
    transition: .3s ease all;
}
.nav-ul li a:hover,
.nav-ul li a.active {
    color: #3563E9;
}
.login a {
    padding: 8px 18px;
    margin-right: 7px;
    transition: .3s ease all;
}
.login a:nth-child(1) {
    border: 1px solid #3563E9;
    color: #3563E9;
}
.login a:nth-child(1):hover {
    background-color: #3563E9;
    color: white;
}
.login a:nth-child(2) {
    background-color: #3563E9;
    color: white;
}
.login a:nth-child(2):hover {
    border: 1px solid #3563E9;
    color: #3563E9;
    background-color: transparent;
}

   /*mobile menu*/
   header .hamb {
    display: none;
   }
/*End of header Section*/

/*main section*/

/*landing-page section*/
#landing-page {
    background-color: #3563E9;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
}
.h1-texts {
    margin-top: 4rem;
    font-size: 2.1rem;
    font-weight: 600;
    letter-spacing: 1.1px;
    line-height: 1.4;
    
}
.h4-texts {
    font-size: 1.1rem;
    font-weight: 400;
    width: 45%;
    margin-top: 2rem;
    letter-spacing: .5px;
}

.search-form {
    display: flex;
    width: 45%;
    margin-top: 4rem;
}
.search-form input,
.search-form button {
    border: none;
    outline: none;
    height: 43px;
}
.search-form input {
    width: 80%;
    padding: 10px 15px;
}
.search-form button {
    width: 20%;
    background-color: #2851E3;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}
.search-form button img {
    margin-right: 5px;
}
/*aside */
aside {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: 0 auto;
    position: absolute;
    bottom: -70px;
    height: 110px;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.09),
    0px -14px 28px rgba(0, 0, 0, 0.09);
    align-items: center;
    justify-content: center;
    background-color: white;
}
aside img {
    width: 21%;
    object-fit: contain;
    margin: 0 10px;
}
/*end of aside */
/*End of landing-page section*/

/*why-us section*/
#why-us {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 9rem;
    padding: 0 55px;
}
#why-us > h1 {
    font-size: 2.4rem;
    color: #3563E9;
    margin-bottom: 1.8rem;
    width: 100%;
    text-align: left;
}
.why-us {
      width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.why-us_texts {
    width: 50%;
    margin-right: 40px;
    display: flex;
    flex-direction: column;

}

.why-us_divs {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
}
.why-us_divs img {
    margin-right: 15px;
}
.why-us_divs div h1 {
    margin-bottom: 6px;
    color: #212121;
    font-size: 1.3rem;
}
.why-us_divs div p {
    font-size: 1rem;
}
.why-us_img {
    width: 45%;

}
.why-us_img img {
    width: 100%;
    
}
/*end of why-us section*/


/*End of main section*/



@media only screen and (max-width: 960px) {
    /*header Section*/

      /*mobile menu*/
      header .hamb {
        z-index: 100;
        height: 60px;
        width: 60px;
        display: inline-block;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transform: scale(.7);
        margin-right: 20px;
    }
    header .hamb .bar {
        height: 2px;
        width: 30px;
        background-color: #3563E9;
        z-index: 10;
        position: relative;
    }
    header .hamb .bar::after,
    header .hamb .bar::before{
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        background-color: #3563E9;
        transition: .3s ease;
        transition-property: top, bottom;
    }
    header .hamb .bar::after {
        top: 8px;
    }
    header .hamb .bar::before {
        bottom: 8px;
    }
    header .hamb.active .bar::after {
        top: 0;
        background-color: white;
    }
    header .hamb.active .bar::before {
        bottom: 0;
        background-color: white;
    }
    header .hamb.active .bar {
        background-color: white;
        height: 5px;
    }


    header {
        width: 100%;
        padding: 6px 20px;
        font-size: 13px;
    }
    .nav-ul li {
        margin-right: 5x;
    }
    .login a {
        padding: 7px 15px;
        margin-right: 0;
        transition: .3s ease all;
    }
    header .logo {
        width:110px;
    }
    header .logo img {
        width: 100%;
    }

     /*nav-ul*/
     .nav-ul {
        position: absolute;
        background-color: #3563E9;
        width: 60vw;
        height: 100vh;
        left: -100%;
        top: 0%;
        display: flex;
        align-items: flex-start;
        padding-top: 6rem;
        padding-left: 55px;
        z-index: 1;
        overflow-x: hidden;
        flex-direction: column;
        transition: .5s ease left;
    }
    .nav-ul.active {
        left: 0;
    }
    .nav-ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .nav-ul li a {
        color: white;
        font-size: 1.3rem;
    }

     /*end of nav-ul*/
 
/*End of header Section*/

     /*landing-page section*/

     #landing-page {
        height: 80vh;
    }
    .h1-texts {
        margin-top: 5rem;
        font-size: 1.5rem;
        line-height: 1.2;
    }
    .h4-texts {
        font-size: .95rem;
        width: 60%;
    }
    .h4-texts h4 {
        font-weight: 400;
    }

    .search-form {
        width: 70%;
        margin-top: 4rem;
    }
    .search-form input,
    .search-form button {
        height: 40px;
    }
    .search-form input {
        width: 86%;
    }
    .search-form button {
        width: 14%;
    }
    .search-form button img {
        margin-right: 0;
    }
    .search-form button span {
        display: none;
    }
    /*aside */
    aside {
        width: 90%;
        height: 105px;
    }
    aside img {
        width: 130px;
    }

            /*why-us section*/
    #why-us {
        width: 100%;
        margin-top: 7rem;
        padding: 0 25px;
        flex-wrap: wrap;
    }
    #why-us > h1 {
        font-size: 2rem;
        color: #3563E9;
    }
    .why-us {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .why-us_texts {
        width: 50%;
        margin-right: 10px;
    }
    .why-us_divs img {
        margin-right: 10px;
    }
    .why-us_divs div h1 {
        font-size: 1rem;
    }
    .why-us_divs div p {
        font-size: .8rem;
    }
    .why-us_img {
        width: 48%;

    }
    .why-us_img img {
        width: 100%;
        
    }
    /*end of why-us section*/



}
@media only screen and (max-width: 560px) {


    header {
        padding: 3px 5px;
        font-size: 14px;
    }

    .login a {
        padding: 8px 10px;
        margin-right: 7px;
        transition: .3s ease all;
    }
    header .logo {
        width:90px;
    }
    header .logo img {
        width: 100%;
    }
        /*main section*/

    /*landing-page section*/

    #landing-page {
        height: 80vh;
    }
    .h1-texts {
        margin-top: 5rem;
        font-size: 1.1rem;
        line-height: 1.2;
    }
    .h4-texts {
        font-size: .95rem;
        width: 90%;
    }
    .h4-texts h4 {
        font-weight: 400;
    }

    .search-form {
        width: 90%;
        margin-top: 4rem;
    }
    .search-form input,
    .search-form button {
        height: 40px;
    }
    .search-form input {
        width: 86%;
    }
    .search-form button {
        width: 14%;
    }
    .search-form button img {
        margin-right: 0;
    }
    .search-form button span {
        display: none;
    }
    /*aside */
    aside {
        width: 90%;
        height: 105px;
    }
    aside img {
        width: 130px;
    }

        /*why-us section*/
    #why-us {
        padding: 0 20px;
    }
    #why-us > h1 {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }
    .why-us {
        flex-direction: column;
    }
    .why-us_texts {
        width: 100%;
        margin-right: 0;
    }

    .why-us_divs {
        margin-bottom: 20px;
    }
    .why-us_divs img {
        margin-right: 15px;
    }
    .why-us_divs div h1 {
        margin-bottom: 5px;
        font-size: 1rem;
    }
    .why-us_divs div p {
        font-size: .8rem;
    }
    .why-us_img {
        width: 100%;

    }
    /*end of why-us section*/
}

/* Mya-Commit */


/* html{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
  }
  
  body{
    background-color: rgb(235, 235, 235);
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 100vw;
    max-height: 100vh;
  }
  img{
    width: 100%;
    height: auto;
  }
  a{
    text-decoration: none;
  }
  li{
    list-style: none;
  }
  .arrow{
    border-radius: 50%;
    padding: 1em;
    font-size: 22px;
    font-weight: 700;
    color: black;
    border: none;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.75);
    cursor: pointer;
  }
  .arrow:hover{
    color:#1976D3;
  }
  .left{
    margin-right: -1.1em;
  }
  .right{
    margin-left: -1.1em;
  }
  .container{
    width: 100;
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(142, 142, 142);
    font-size: 16px;
    margin: 1em;
  }
  .wrapper{
    padding: 1.5em;
    background-color: transparent;
    width: 100%;
    height: 100%;
  }
  
  .writers_page{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 1.5em 0;
  }
  .writers_page .heading_and_button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #1976D3;
    opacity: 0.8;
  }
  .writers_page .heading_and_button h1{
    font-size: 30px;
    font-weight: 600;
  }
  .writers_page .heading_and_button a{
    font-size: 18px;
    font-weight: 500;
    color: #1976D3;
    opacity: 0.8;
  }
  
  .writers_page .writers_card_container {
    width: 100%;
    max-height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 0.7em;
    justify-content:center;
    align-items: center;
    margin: 1em 0;
    overflow: auto;
    white-space: nowrap;
  }
  .writers_page .writers_card_container .wcard{
    width: 300px;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 4px rgba(50, 50, 50, 0.75);
    /* padding: 0.5em; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
  }
  
  .writers_page .writers_card_container .wcard .wcard_heading{
    width: 100%;
    height: auto;
    align-items: center;
    justify-self: center;
    position: relative;
    z-index: 100;
  }
  .writers_page .writers_card_container .wcard .wcard_heading .un {
    width: 100%;
    height: 4em;
    background-color: rgb(142, 142, 142);
  }
  .writers_page .writers_card_container .wcard .wcard_heading .img{
    width: 100%;
    height: fit-content;
    margin-top: -2em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .writers_page .writers_card_container .wcard .wcard_heading .img img{
    border-radius: 50%;
   width:50px;
   height: auto;
  
  }
  
  .writers_page .writers_card_container .wcard .wcard_article{
    width: 100%;
    height: fit-content;
    display: flex;
    padding: 0.5em;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
  }
  .writers_page .writers_card_container .wcard .wcard_article h2{
    font-size: 18px;
    font-weight: 600;
    margin: 8px 0;
    color: black;
  }
  .writers_page .writers_card_container .wcard .wcard_footer{
    border-top: 1px solid rgb(142, 142, 142);
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
  }
  
  
  .testimony{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    height: fit-content;
  }
  .testimony .title{
      font-size: 30px;
      font-weight: 600;
      color: #1976D3;
      opacity: 0.8;
  }
  .testimony .testimony_cards_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 100%;
    margin: 1.5em 0;
    height: fit-content;
    
    overflow-x: auto;
    /* white-space: nowrap; */
  
  }
  .testimony .testimony_cards_container .Ccard{
    border: 1.5px solid rgb(142, 142, 142);
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(50, 50, 50, 0.75);
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 370px;
    height:100%;
  }
  .testimony .testimony_cards_container .Ccard .Ccard_heading{
    display: flex;
    flex-direction: row;
    gap: 0.4em;
    margin-bottom: 0.7em;
  }
  .testimony .testimony_cards_container .Ccard .Ccard_heading img{
    width: 40px;
    height: auto;
    border-radius: 20%;
  }
  .testimony .testimony_cards_container .Ccard .Ccard_heading .client_description{
    display: flex;
    flex-direction: column;
    gap: 0.4em;
  }
  .testimony .testimony_cards_container .Ccard .Ccard_heading .client_description .client_name{
    color: black;
    font-size: 18px;
    font-weight: 600;
  }
  .testimony .testimony_cards_container .Ccard .Ccard_heading .client_description .client_title{
    font-size: 14px;
    font-weight: 500;
  }
  .testimony .testimony_cards_container .Ccard .client_article{
    margin-bottom: 0.7em;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .testimony .testimony_cards_container .Ccard .client_footer{
    color: #1976D3;
    opacity: 0.8;
  }
  
  @media  only screen and (min-width:800px){
    .testimony .testimony_cards_container .Ccard {
        border: 1.5px solid rgb(142, 142, 142);
        border-radius: 10px;
        box-shadow: 0 0 4px rgba(50, 50, 50, 0.75);
        padding: 1em;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        width: 100%;
        height: 100%;
      }
    .testimony .testimony_cards_container .Ccard .client_article {
        margin-bottom: 0.7em;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
      }
  } */